<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>agreement</title>
</head>
<body class="container">
<h2>Copyright Information</h2>
<p>All pages and graphics on this web site are the property of the company <b>Refsnes Data</b>.</p>
<p>Pages, code or other content from dearproblems.com may not be redistributed or reproduced in any way, shape,
or form without the written
permission of Refsnes Data.</p>
<p>Failure to do so is a violation of copyright laws.</p>
<hr>


</body>
</html>